// global stylesheet(sass) for JOED5
$text-color: #000000
$warning-color: #ff0000
$notice-color:  #ff6600
$system-background: #dddddd
$--background-color-list: #FFFFFF
$--background-color-dialog: #FFFFF0
$--background-color-hover: #F5F7FA

// imported from custom theme for element
$--color-primary: #4A4A4A
$--color-text-primary: #121212
$--color-text-regular: #252525
$--color-success: #6FC445
$--color-danger: #FF3030
$--border-color-base: #7B7B7B
$--color-info: #22AAFF
$--color-warning: #FF8F25
$--color-text-placeholder: #dddddd
//#C0C4CC

// declare CSS vars
:root
  --background-color-list: #FFFFFF
  --background-color-dialog: #FFFFF0
  --background-color-hover: #F5F7FA
  --color-primary: #4A4A4A
  --color-text-primary: #121212
  --color-text-regular: #252525
  --color-success: #6FC445
  --color-danger: #FF3030
  --border-color-base: #7B7B7B
  --color-info: #22AAFF
  --color-warning: #FF8F25
  --color-text-placeholder: #dddddd
  //#C0C4CC

body
  margin: 0

html
  font-family: cross-platform-yu-gothic, sans-serif
  font-weight: 500
  background-color: $system-background
  font-size: 14px
  color: $--color-text-primary
  letter-spacing: 0.2px
  overflow-y: auto
  user-select: none

button
  font-family: inherit
  font-size: 1rem
  height: 2.8rem

input[type="text"],[type="number"],[type="password"]
  font-family: inherit
  font-size: 1rem
  user-select: text
  box-sizing: border-box
  padding: 1px 4px
  height: 2rem
  border: 2px solid $--border-color-base
  border-radius: 2px
  &:focus
    outline: none
    box-shadow: 0 0 0 1px $--border-color-base

select
  font-family: inherit
  font-size: 1rem
  -webkit-appearance: menulist-button
  box-sizing: border-box
  min-height: 1.5rem
  border: 2px solid $--border-color-base
  border-radius: 2px
  padding: 1px
  &:focus
    outline: 1px dotted $--border-color-base

option
  font-family: inherit
  font-size: 1rem
  box-sizing: border-box
  margin-top: 0.2rem
  padding: 0.2rem 0.4rem
  height: 1.8rem
option:hover
  background-color: $--background-color-hover
option:checked
  font-weight: 600
  // color: red
  // background-color: $--color-primary

// input, selectで使用される強調クラス
.vacant
  border-color: $--color-danger !important
  padding: 2px
  &:focus
    outline: none
    box-shadow: 0 0 0 1px $--color-danger !important


// タイトル文字
.title
  font-size: 1.35rem
  font-weight: bold
  letter-spacing: 0.05rem

.subtitle
  font-size: 1.15rem
  letter-spacing: 0.05rem

// 省略可能span
.truncatable
  display: inline-block
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

// ブロックの幅指定
.w10
  width: 10%
.w20
  width: 20%
.w30
  width: 30%
.w40
  width: 40%
.w50
  width: 50%
.w60
  width: 60%
.w70
  width: 70%
.w80
  width: 80%
.w90
  width: 90%

// Edit
div.edit-dialog
  position: relative
  border: 1px black solid
  border-radius: 0.5rem
  background-color: ivory
  margin-left: 48px
  margin-top: 3rem
  padding: 1rem 1.5rem
  width: 800px
  display: flex
  flex-direction: column

// Edit中のセクション
div.section
  position: relative
  background: white
  width: 800px
  min-height: 48px
  border: 1px solid black
  margin-top: 21px
  padding-bottom: 4px
  .section-title
    margin: 4px
    font-size: 1.15rem
      
  div.section-item-list
    border: 0
    margin: 1px 8px 2px 42px
    div.section-item
      position: relative
      background: $--color-text-placeholder
      border-left: $--color-text-placeholder 2px solid
      line-height: 1.5
      padding: 0.5em
      margin-right: 48px
      margin-bottom: 2px
      list-style: none
      .handle
        margin-right: 0.7rem
      .edit-button
        position: absolute
        font-size: 1.25rem
        right: 50px
        margin-top: auto
        margin-bottom: auto
        padding-top: 0.1rem
      .remove-button
        position: absolute
        font-size: 1.25rem
        right: 20px
        margin-top: auto
        margin-bottom: auto
        padding-top: 0.1rem
  div.section-item-list:first-of-type div.section-item:first-of-type
      border-left: black 2px solid

// Editビューの共通スタイル
div.edititem
  position: relative
  display: block
  background: white
  width: 800px
  border: 4px solid gray
  border-radius: 10px
  margin-top: 120px
  margin-left: 50px
  margin-bottom: 1rem
  padding: 16px
div.content-title
  padding: 8px
  font-size: 1.15rem
  font-weight: bold
  letter-spacing: 2px
div.flex-content
  display: flex
  flex-direction: row
  padding-top: 0.2rem
  padding-bottom: 0.2rem
div.selectionbox
  padding: 4px
  margin: 4px 0.5rem
  min-height: 2rem
  line-height: 2rem
  select
    width: 100%
div.inputbox
  margin: 2px 16px
  height: 40px
  flex-direction: row
  & > div
    margin: auto 0
  input
    width: 95%
div.content-bottom
  div.controls
    padding-left: 8px
    padding-right: 8px
    text-align: right
    margin: 2px 0
    height: 2.5em

// 機能画面
div.utility
  margin: 0 3rem

div.utility-switches
  display: flex
  flex-direction: column
  margin-bottom: 1rem
  div
    display: flex
    flex-direction: row
    margin: 0.4rem 0
    div.label
      padding-top: 0.25rem
      width: 30%
      font-size: 1.1rem
      font-weight: bold
      color: $--color-text-regular
    div.field
      width: 70%
      font-size: 0.5rem
      color: $--color-text-primary
  &.wide-label
    div div.label
      width: 50%
    div div.field
      width: 50%

div.progress-views
  margin: 1.5rem 0.7rem
  width: 45rem
